export NOSTR_PRIVATE_KEY=

export LND1_TLS=
export LND1_MACAROON=
export LND1_DNS=

export REDIS_PASSWORD=
export REDIS_0_DNS=
export REDIS_1_DNS=
export REDIS_2_DNS=
export REDIS_MASTER_NAME=

# BigQuery configuration for intraledger payment monitoring
export BIGQUERY_PROJECT_ID=galoy-reporting
export BIGQUERY_DATASET_ID=dataform_galoy_staging
export GOOGLE_APPLICATION_CREDENTIALS=
export BIGQUERY_CREDENTIALS=
use flake
